@page
@model Prn221_8_HoaLan.Pages.Products.ProductDetailModel
@using DataAccessLayer.Model;
@using Newtonsoft.Json;
@{
    Layout = "_Layout";
}
@{
    var fullName = "";
    var session = HttpContext.Session;
    User user = Prn221_8_HoaLan.SessionExtensions.Get<User>(session, "User");
    if (user != null)
    {
        fullName = user.FirstName + " " + user.LastName;
        // ViewBag.Role = user.Role;
    }
}
@* <div>
    <span>Name </span>
    <span>@Model.p.ProductName</span>
    <br />
    <span>Description </span>
    <span>@Model.p.Description</span>
    <br />
    <span>Quantity </span>
    <span>@Model.p.Quantity</span>
    <br />
    <span>Price </span>
    <span>@Model.p.Price</span>
    <div>
        <img style="width: 300px; height: 300px; object-fit: contain;" src="@Model.p.Image" />
    </div>
    <div>
        <button onclick="AddToCart(@Model.p.ProductId)">Buy</button>
    </div>
    
</div> *@
<div class="container mt-5">
    <div class="row">
        <!-- Product Image -->
        <div class="col-md-6">
            <div class="rounded overflow-hidden">
                <img class="" style="object-fit: cover; width: inherit; height: 500px; border-radius: 13px" src="@Model.p.Image" alt="Product Image">
            </div>
        </div>

        <!-- Product Details -->
        <div class="col-md-6">
            <div class="card border-0">
                <div class="card-body">
                    <h1 class="card-title">@Model.p.ProductName</h1>
                    <p class="card-text">@Model.p.Description</p>
                    <p class="card-text">Quantity: @Model.p.Quantity</p>
                    <p class="card-text">Price: $@Model.p.Price</p>
                    <button class="btn btn-primary rounded-pill px-4 py-2 w-25" onclick="AddToCart(@Model.p.ProductId)">Buy</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    async function AddToCart(pid) {
        let data = {
            id: pid
        }
        const res = await fetch('?handler=AddToCart', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })

        if (res.status === 200) {
            alert("add this hoa to the cart 🛒")
            console.log(res.json())
        }
        if(res.status === 400){
            res.json().then(function(res){
                alert(res)
            }).catch(function(e) {
                alert(e)
            })
            
        }
    }

</script>