@page
@using DataAccessLayer.Model
@model Prn221_8_HoaLan.Pages.Products.ProductDisplayModel
@{
    Layout = "_Layout";
}
@{
    var fullName = "";
    var session = HttpContext.Session;
    User user = Prn221_8_HoaLan.SessionExtensions.Get<User>(session, "User");
    if (user != null)
    {
        fullName = user.FirstName + " " + user.LastName;
        // ViewBag.Role = user.Role;
    }
}

<style>
    img {
        width: 430px;
        height: 400px;
    }
</style>

<div class="glasses">
    <h2 class="font-weight-bold text-center">Our Hoa</h2>
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model.Products)
            {
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure class="d-flex justify-content-center align-items-center"><img src="@item.Image" alt="#" /></figure>
                        <h3>@item.Price.ToString("N0") <span class="blu">VND</span></h3>
                        <p>@item.ProductName</p>
                        <div class="d-flex justify-content-between mx-4 my-3">
                            <a role="button" class="buyBtn bg-success w-25 h-25 text-white" onclick="AddToCart(@item.ProductId)">Buy Now</a>
                            <a class="bg-primary w-25 h-25 text-white" asp-page="./ProductDetail" asp-route-id="@item.ProductId">More Info</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    async function AddToCart(pid){
        let data = {
            id: pid
        }
        const res = await fetch('?handler=AddToCart', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })

        if(res.status === 200){
            console.log(res.json())
        }
                if(res.status === 400){
            res.json().then(function(res){
                alert(res)
            }).catch(function(e) {
                alert(e)
            })
            
        }
    }

</script>
