@page
@model Prn221_8_HoaLan.Pages.Staff.AuctionManagement.indexModel
@using DataAccessLayer.Model;
@{
    Layout = "_LayoutAdmin";
}
@{
    var fullName = "";
    var session = HttpContext.Session;
    User user = Prn221_8_HoaLan.SessionExtensions.Get<User>(session, "User");
    if (user != null)
    {
        fullName = user.FirstName + " " + user.LastName;
        ViewBag.Role = user.Role;
    }
}

<div class="container">
    <h2>Auction Management</h2>
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Auction Name</th>
                <th class="text-center">CreateBy</th>
                <th class="text-center">Status</th>
                <th class="text-center">Detail</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <form method="post">
                @foreach (var auction in Model.Auctions)
                {
                <tr>
                    <td class="text-center">@auction.AuctionId</td>
                    <td class="text-center">@auction.AuctionName </td>
                    <td class="text-center">@auction.CreateBy</td>
                    <td class="text-center">@auction.Status</td>
                    <td class="text-center">
                        <a class="btn btn-primary" asp-page="./AuctionDetail" asp-route-AuctionId="@auction.AuctionId">
                            View Detail
                        </a>
                    </td>
                    <td class="text-center">
                        <input type="hidden" name="AuctionId" value="@auction.AuctionId" />
                        <button type="submit" class="btn btn-primary" name="button" value="CreateAuction">Create Auction</button>
                    </td>
                </tr>
                }
            </form>
        </tbody>
    </table>
</div>
